# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilc
*.ild
*.ilf
*.ils
*.map
*.tds

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# I want the executables in this case, they are quite small.
*.out
*.app

# Other stuff
oratab.txt
*.save
*.depend
*.layout
bin/Debug